@import url(styles/viriables.css);
@import url(styles/basic.css);
@import url(styles/header.css);
@import url(styles/home.css);
@import url(styles/home.css);
@import url(styles/about.css);
@import url(styles/history.css);
@import url(styles/Portfolio.css);
@import url(styles/contacts.css);