.contacts {
    padding: 55px 20px 60px;
    text-align: center;
}

.contact-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-main-black);
    margin: 0 0 85px 0;
}


.button-link {
    font-size: 24px;
    font-weight: 500;
    color: var(--bg-main);
    background-color: var(--color-main-black);
    border: none;
    border-radius: 21px;
    padding: 6px 25px 7px 29px;
    justify-self: center;
}


.button-link:hover{
    opacity: 0.8;
}

.social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin: 45px 0 0 0;
    justify-content: center;
}

.social-icon {
    width: 65px;
    height: 65px;
    fill: var(--color-main-black);
}


.social-icon:hover{
    fill: lightcoral;
}


.contact-info {
    color: var(--font-color-grey);
    margin: 35px;
    font-size: 16px;
    font-weight: 500;
    width: 260px;
    margin: 35px auto 0;

}

@media (max-width: 480px){
    .contact-info {
    font-size: 14px;
}
    .social-icon{
    width: 55px;
    height: 55px;
}
.social {
    gap: 20px;
}
}