.history-section {
    padding: 65px 0 75px;
    text-align: center;
    color: var(--color-main-black);
}

.history-title {
    font-size: 34px;
    font-weight: 700;
}

.history-photo {
    width: 100%;
    max-width: 950px;
    height: 655px;
    object-fit: cover;
    margin: 70px 0 0 0;
}

.history-discription {
    font-size: 18px;
    font-weight: 500;
    margin: 60px 0 0 0;
}

@media (max-width: 480px) {
    .history-photo {

        height: 480px;
    }

    .history-discription {
        font-size: 14px;

    }

    .history-section {
        padding: 50px 0 75px;

    }
}