.mobile-navigation {
    display: none;
    position: absolute;
    top: 50px;
    right: 33px;
}

.mobile-navigation-burger {

    width: 33px;
    height: 18px;
}

.mobile-navigation-togglet {
    display: none;
}

.mobile-navigation-menu {
    position: fixed;
    inset: 0;
    background-color: var(--bg-main);
    translate: 100% 0;
    transition: all .33s;
    padding: 55px 20px 0;

}


.mobile-navigation-togglet:checked+.mobile-navigation-menu {
    translate: 0;

}


.mobile-navigation-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.mobile-navigation-link {
    font-size: 34px;
    font-weight: 700;
    color: var(--font-color-grey);
}

.mobile-navigation-close {
    position: absolute;
    top: 50px;
    right: 33px;

}

.mobile-navigation-cross {
    width: 25px;
    height: 22px;
}

@media (max-width: 480px) {
    .mobile-navigation {
        display: block;
    }

}